<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link th:href="@{/style.css}" rel="stylesheet" type="text/css" media="screen" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script th:src="@{script.js}" ></script>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<title>Projeto 3</title>
</head>
<body>
    <nav class="bg-primary p-1">
        <h1 class="text-white text-center"> Distribuidor de Salas</h1>
    </nav>
    
	
	
    
    <div class="container h-75">
		<form method="post" th:action="@{/post}" enctype="multipart/form-data">
			<div class="row justify-content-center mt-4" accept-charset="utf-8">
				<div class="p-4 col text-center">
					<div class="row">
						<label class="text-iscte" for="salas">Lista de salas:</label>
					</div>
					<div class="row mt-3">
						<input class="col-7 mb-2" id="uploadFileSala" placeholder="Choose File" disabled="disabled"/>
						<div class="fileUpload btn btn-primary bg-primary col-4">
							<span>Upload</span>
							<input id="uploadBtnSala" type="file" class="upload" name="horarios"/>
						</div>
					</div>
				</div>
				<div class="p-4 col text-center">
					<div class="row">
						<label class="text-iscte" for="horarios">Horários a preencher:</label>
					</div>
					<div class="row mt-3">
						<input class="col-7 mb-2" id="uploadFileHorario" placeholder="Choose File" disabled="disabled"/>
						<div class="fileUpload btn btn-primary bg-primary col-4">
							<span>Upload</span>
							<input id="uploadBtnHorario" type="file" class="upload" name="salas"/>
						</div>
					</div>
				</div>
				<div class="mt-4 pt-3 col text-center">
						<button type="submit" class="btn btn-primary bg-primary mt-4 w-50">Distribuir</button>
				</div>
			</div>
		
		<div class="row">
			<div class="col-1 p-0">
				<button class="btn btn-dark btn-tab w-100">Parâmetros</button>
			</div>
		</div>
		<div class="row h-75 pb-4 bg-light border border-dark text-black">
			<div class="col">
				<div class="row">
					<div class="col pt-2">
						<h1 class="fs-3">Dia da semana</h1>
					</div>
					<div class="col pt-2 pe-5 text-center">
						<h1 class="fs-3">Sobrelotação</h1>
					</div>
				</div>
				<div class="row">
					<div class="form-check col-4 my-2 ms-5 pt-3">
						<label class="form-check-label" for="flexCheckMonday">
							Segunda feira
						</label>
					</div>
					<div class="col">
						<label for="rangeMonday" class="form-label m-0 px-1 bg-dark rounded-3 text-white fs-7" >0</label>
						<input type="range" min="0" max="30" value="0" class="form-range" id="rangeMonday" oninput="updateLabel(this)"  name="segunda" >
					</div>
				</div>
				<div class="row">
					<div class="form-check col-4 my-2 ms-5 pt-3">
						<label class="form-check-label" for="flexCheckTuesday">
							Terça feira
						</label>
					</div>
					<div class="col">
						<label for="rangeTuesday" class="form-label m-0 px-1 bg-dark rounded-3 text-white fs-7" >0</label>
						<input type="range" min="0" max="30" value="0" class="form-range" id="rangeTuesday" oninput="updateLabel(this)" name="terca">
					</div>
				</div>
				<div class="row">
					<div class="form-check col-4 my-2 ms-5 pt-3">
						<label class="form-check-label" for="flexCheckWednesday">
							Quarta feira
						</label>
					</div>
					<div class="col">
						<label for="rangeWednesday" class="form-label m-0 px-1 bg-dark rounded-3 text-white fs-7">0</label>
						<input type="range" min="0" max="30" value="0" class="form-range" id="rangeWednesday" oninput="updateLabel(this)" name="quarta">
					</div>
				</div>
				<div class="row">
					<div class="form-check col-4 my-2 ms-5 pt-3">
						<label class="form-check-label" for="flexCheckThursday">
							Quinta feira
						</label>
					</div>
					<div class="col">
						<label for="rangeThursday" class="form-label m-0 px-1 bg-dark rounded-3 text-white fs-7" >0</label>
						<input type="range" min="0" max="30" value="0" class="form-range" id="rangeThursday" oninput="updateLabel(this)" name="quinta">
					</div>
				</div>
				<div class="row">
					<div class="form-check col-4 my-2 ms-5 pt-3">
						<label class="form-check-label" for="flexCheckFriday">
							Sexta feira
						</label>
					</div>
					<div class="col">
						<label for="rangeFriday" class="form-label m-0 px-1 bg-dark rounded-3 text-white fs-7">0</label>
						<input type="range" min="0" max="30" value="0" class="form-range" id="rangeFriday" oninput="updateLabel(this)" name="sexta">
					</div>
				</div>
				<div class="row">
					<div class="form-check col-4 my-2 ms-5 pt-3">
						<label class="form-check-label" for="flexCheckSaturday">
							Sábado
						</label>
					</div>
					<div class="col">
						<label for="rangeSaturday" class="form-label m-0 px-1 bg-dark rounded-3 text-white fs-7">0</label>
						<input type="range" min="0" max="30" value="0" class="form-range" id="rangeSaturday" oninput="updateLabel(this)" name="sabado">
					</div>
				</div>
			</div>
			<div class="col">
				<div class="row text-center pt-2">
					<h1 class="fs-3">Características</h1>
				</div>
				<div class="row justify-content-center">
					<div class="col-8">
						<div class="form-check">
							<input class="form-check-input" type="radio" name="flexRadioCaract" id="flexRadioCaract" checked>
							<label class="form-check-label" for="flexRadioCaract">
							  Ter em conta as características da sala
							</label>
						  </div>
						  <div class="form-check">
							<input class="form-check-input" type="radio" name="flexRadioCaract" id="flexRadioCaract2">
							<label class="form-check-label" for="flexRadioCaract2">
							   Não ter em conta as características da sala
							</label>
						  </div>
					</div>
				</div>
				<div class="row text-center pt-5">
					<h1 class="fs-3">Algoritmos</h1>
				</div>
				<div class="row justify-content-center">
					<div class="col-9">
						<div class="form-check ps-5">
							<label class="form-check-label" for="flexCheckFIFO">
							FIFO (First In, First Out)
							</label>
							<input class="form-check-input" type="checkbox" value="" id="flexCheckFIFO" name ="FIFO" checked>
						</div>
						<div class="form-check ps-5">
							<label class="form-check-label" for="flexCheckLIFO">
							LIFO (Last In, First Out)
							</label>
							<input class="form-check-input" type="checkbox" value="" name ="LIFO" id="flexCheckLIFO">
						</div>
						<div class="form-check ps-5">
							<label class="form-check-label" for="flexCheckRandom">
							Aleatório
							</label>
							<input class="form-check-input" type="checkbox" value="" name ="random" id="flexCheckRandom">
						</div>
						<div class="form-check ps-5">
							<label class="form-check-label" for="flexCheckLCF">
							Menor Capacidade Primeiro
							</label>
							<input class="form-check-input" type="checkbox" value="" name ="LCF" id="flexCheckLCF">
						</div>
					</div>
				</div>
				
			</div>
		</div>
		</form>
    </div>
</body>
</html>